<h1>Enter Pirate and Ship Information Below:</h1>

<form method="POST" action="/pirates">
  <p><label for="pirate[name]">Pirate Name:</label> <input type="text" name="pirate[name]"></p>
  <p><label for="pirate[weight]">Pirate Weight:</label> <input type="text" name="pirate[weight]"></p>
  <p><label for="pirate[height]">Pirate Height:</label> <input type="text" name="pirate[height]"></p>
  <p><label for="ship_name_1">Ship One Name:</label> <input type="text" name="pirate[ships][][name]" id="ship_name_1"></p>
  <p><label for="ship_type_1">Ship One Type:</label> <input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
  <p><label for="ship_booty_1">Ship One Booty:</label> <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>
  <p><label for="ship_name_2">Ship Two Name:</label> <input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
  <p><label for="ship_type_2">Ship Two Type:</label> <input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
  <p><label for="ship_booty_2">Ship Two Booty:</label> <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>
  <input type="submit" id="submit">
</form>
