<h1>Enter Pirate and Ship Information Below:</h1>

<form method="POST" action="/pirates">
  <p><label for="pirate name">Pirate Name:</label> <input type="text" name="pirate[name]"></p>
  <p><label for="pirate weight">Pirate Weight:</label> <input type="text" name="pirate[weight]"></p>
  <p><label for="pirate height">Pirate Height:</label> <input type="text" name="pirate[height]"></p>
  <p><label for="ship one name">Ship One Name:</label> <input type="text" name="pirate[ships][][name]"></p>
  <p><label for="ship one type">Ship One Type:</label> <input type="text" name="pirate[ships][][type]"></p>
  <p><label for="ship one booty">Ship One Booty:</label> <input type="text" name="pirate[ships][][booty]"></p>
</form>
